@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Audiowide&family=Black+Ops+One&family=Bree+Serif&family=Odibee+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yatra+One&family=Zen+Dots&display=swap');

*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 160px;
}

html::-webkit-scrollbar{
    display: none;
}

:root{
    --color1: black;
    --text-color: rgb(255, 250, 251);
    --subback-color: rgb(21, 127, 146);
    --accent-color: rgb(82, 220, 238);

    --Title-font: "Audiowide", serif;
}

.itemCategories{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}


.category{
    width: 300px;
    height: 400px;
    border: 3px solid var(--accent-color);
    border-radius: 20px;
    background-color: rgb(12, 67, 81);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.category:hover{
    background-color: var(--subback-color);
    scale: 1.02;
    transition: all .35s ease-out;
    text-shadow: 3px 3px black;
}

/*=====Media Queries========================================================================*/
@media (max-width:880px) {
    .category{
        width: 300px;
        height: 100px;
        font-size: 20px;
    }
}