@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Audiowide&family=Black+Ops+One&family=Bree+Serif&family=Odibee+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yatra+One&family=Zen+Dots&display=swap');

:root{
    --color1: Black;
    --text-color: rgb(255, 250, 251);
    --subback-color: rgb(21, 127, 146);
    --accent-color: rgb(82, 220, 238);

    --Title-font: "Audiowide", serif;
    --Title-shadow: 2px 2px var(--subback-color);
}

body{
    background: rgba(0, 0, 0, 0.85) url(./Images/Home-Page-Images/subnav\ image\ -1.webp);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


main{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;

    gap: 10px;
}

/*=====Slideshow part=========================================================*/

.slideshow{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.733), transparent, transparent );
    width: 100vw;
    padding: 30px 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 1/2;
}


.container{
    display: flex;
    overflow-x: hidden;
    position: relative;
    width: 98vw;
    height: 38vw;
    scroll-behavior: smooth;
}

.container::-webkit-scrollbar{
    display: none;
}

.container div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex:1 0 100%;
    animation: slider 33s infinite ease-out;
    animation-play-state: running;
}

.container div a{
    width: 100%;
    height: 100%;
}

.store-content{
    grid-row: 3;
    padding: 0 5vw;

}

/*=====Store items Part=======================================================*/

.items{
    width: 100%;
    height: fit-content;
    position: relative;
}

.item-slot{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px auto 50px;
    gap: 30px;
    margin-top: 30px;
}


.slot-name{
    font-family: var(--Title-font);
    text-align: center;
    font-size: 35px;
    text-shadow: var(--Title-shadow);
}

.item-list{
    display: flex;
    grid-row: 2/3;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;

}

.card{
    width: 25vw;
    height: 21vw;
    border: 2px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: rgba(0, 0, 0, 0.397);
    backdrop-filter: blur(9px);
}

.item-name{
    font-size: 16px;
    font-family: var(--Title-font);
}

.item-details{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30px;
    border-top: 2px solid white;

}

.price{
    font-weight: 300;
    font-size: 1vw;
}

.card .item-pic{
    width: 45%;
    height: 100%;
    border-radius: 15px 0 0 15px;
    align-self: center;
}

.card:hover{
    scale: 1.03;
    transition: .2s ease-in-out;
}

.item-name:hover{
    color: var(--accent-color);
}

.addToCart{
    width:10vw;
    height:7vw;
    color: var(--text-color);
    background-color: transparent;
    border: 2px solid var(--subback-color);
    border-radius: 10px;
    font-size: 12px;
    align-self: center;
    margin-bottom: 10px;
}

.addToCart:hover{
    background-color: var(--subback-color);
    scale: 1.1;
    transition: all .2s ease-out;
}

#page-no{
    text-align: center;
    font-size: 20px;
}

.none{
    display: none;
}

.none2{
    display: block;
}

/*=====Media Queries==========================================================*/

@media (max-width:880px) {
    
    .item-list{
        grid-row: 2/3;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-evenly;
        gap: 10px;
    }

    .card{
        width: 90vw;
        height: 150px;
        display: flex;
        flex-direction: row;
        gap: 5px;
        padding: 0 10px;
    }

    .card .item-pic{
        width: 100px;
        height: 50%;
        border-radius: 15px 15px 0 0;
    }

    .item-name{
        font-size: 15px;
    }

    .item-details{
        align-items: start;
        border-top: none;
        margin: 0 0 0 30px;
    }

    .price{
        display: block;
        font-size: 13px;
        text-align: center;
    }


    .slot-name{
        grid-row: 1/2;
        font-size: 25px;
    }

    .store-nav a{
        width: 200px;
        padding: 7px;
    }

    .container{
        height: 35vw;
    }

    .addToCart{
        margin-left: auto;
        height: 30px;
        width: 100px;
    }
}

@media (max-width:400px) {

    .store-nav a{
        font-size: 20px;
        width: 180px;
        padding: 7px;
    }

    .none{
        display: block;
        align-self: flex-start;
        margin: 0;
    }
    
    .none2{
        display: none;
    }
}

/*=====Slideshow Images=======================================================*/

#game1{
    background-image: url(./Images/Console-Images/Discounts.webp);
}

#game2{
    background-image: url(./Images/Console-Images/Xbox-Slider.jpg);
}

#game3{
    background-image: url(./Images/Console-Images/Price-Drop-Alert-Web-Banner-Compressed\ \(1\).webp);
}

#game4{
    background-image: url(./Images/Console-Images/Peri-Discount.jpg);
}

#game5{
    background-image: url(./Images/Console-Images/PS5-Cyber-Monday-Deals.webp);
}


/*=====Animations=============================================================*/

@keyframes slider {

    0%,5%{
        transform: translateX(0);
    }

    5%,10%{
        transform: translateX(0);
    }

    10%,15%{
        transform: translateX(-100%);
    }

    15%,20%{
        transform: translateX(-100%);
    }

    20%,25%{
        transform: translateX(-200%);
    }

    25%,30%{
        transform: translateX(-200%);
    }

    30%,35%{
        transform: translateX(-300%);
    }

    35%,45%{
        transform: translateX(-300%);

    }

    45%,50%{
        transform: translateX(-300%);
    }

    50%,60%{
        transform: translateX(-300%);
    }

    60%,65%{
        transform: translateX(-300%);
    }

    65%,75%{
        transform: translateX(-300%);
    }

    75%,80%{
        transform: translateX(-200%);
    }

    80%,85%{
        transform: translateX(-200%);
    }

    85%,90%{
        transform: translateX(-100%);
    }

    90%,95%{
        transform: translateX(-100%);
    }

    95%,100%{
        transform: translateX(0);
    }
}


@keyframes imgInAnimation{
    from{
        transform: translateX(-50px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.inAnimations{
    animation: imgInAnimation 1s ease-out;
}