:root{
    --color1: Black;
    --text-color: rgb(255, 250, 251);
    --subback-color: rgb(21, 127, 146);
    --accent-color: rgb(82, 220, 238);

    --Title-font: "Audiowide", serif;
    --Title-shadow: 2px 2px var(--subback-color);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cartTableBody{
    border: 2px solid var(--subback-color);
    border-radius: 10px;
    padding: 20px;
}

th{
    border: 2px solid var(--subback-color);
    border-radius: 10px;
    padding: 0 20px;
    width: fit-content;
    min-width: 200px;
}

td{
    border-right: 2px solid var(--subback-color);
    padding: 5px 20px;
    width: fit-content;
    min-width: 200px;
}