:root{
    --color1: Black;
    --text-color: rgb(255, 250, 251);
    --subback-color: rgb(21, 127, 146);
    --accent-color: rgb(82, 220, 238);

    --Title-font: "Audiowide", serif;
    --Title-shadow: 2px 2px var(--subback-color);
}

body{
    background-color: black;
    grid-template-columns: 70vw 25vw;
    grid-template-rows: 200px calc(100vh - 200px);
    overflow: hidden;

    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    text-wrap: nowrap;
}

a{
    text-decoration: none;
    color:var(--text-color);
}

/*===== Cart Header ===================================================*/

header{
    width: 70vw;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoSection{
    display: flex;
    align-items: center;
}

#logo{
    width: 280px;
    height: 80px;
    padding-right: 10px;
}

#cartTitle{
    color: var(--accent-color);
    font-size: 40px;
}

.cartStatus{
    font-family: var(--Title-font);
    font-size: 2vw;
    color: var(--accent-color);
}

/*--- Cart Navigation ---*/
.homenavi{
    font-size: 20px;
    border: 2px solid var(--subback-color);
    background-color: transparent;
    padding: 2px 5px;
    border-radius: 10px;
}

.homenavi:hover{
    background-color: var(--subback-color);
    transition: all .3s ease-out;
}

.backBtn{
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid var(--subback-color);
    color: var(--text-color);
}

.backBtn:hover{
    background-color: var(--subback-color);
    transition: .3s ease-out;
}

/*===== Cart Main ======================================================*/
main{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    padding: 40px;
}

/*--- Table ---*/
#cartTableBody{
    border-spacing: 0 10px;
    height: fit-content;
    padding: 10px;
}

.tableContainer{
    height: calc(100vh - 150px);
    overflow-y: scroll;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tableContainer::-webkit-scrollbar{
    display: none;
}


#main-td:hover{
    scale: 1.01;
    background-color:rgb(7, 45, 62);
    transition: all .2s ease-out;
}

#main-td{
    background-color: rgb(14, 14, 14);
    display: flex;
    border-radius: 20px;
    padding: 0 10px;
}

.main-section{
    display: flex;
    align-items: center;
    padding: 10px;
}

/*--- TD Sections ---*/

.itemsec{
    width: 500px;
}

#qsec{
    width: 125px;
    display: flex;
    justify-content: space-between;
}

.currencySec p{
    text-align: right;
    font-size: 25px;
    width: 150px;
}

.cartItemPic{
    width: 150px;
    height: 150px;
}

.cartItemDetails{
    display: flex;
    flex-direction: column;
}

.removeItem{
    width: fit-content;
    font-size: 15px;
    background-color: transparent;
    border: none;
    font-weight: 400px;
    color: var(--accent-color);
}

.removeItem:hover{
    cursor: pointer;
}

.totalSection{

    grid-column: 2/3;
    grid-row: 1/3;

    background-color: rgb(14, 14, 14);
    position: absolute;
    top:0;
    right: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 30vw;
    height: 100vh;
    border-radius: 20px 0 0 20px;
}

.Total{
    font-family: var(--Title-font);
    font-size: 1.5vw;
    color: var(--accent-color);
}

.TotalPrice{
    font-family: var(--Title-font);
    font-size: 1.5vw;
}

.paybtn{
    border: 2px solid var(--subback-color);
    padding: 5px 20px;
    border-radius: 10px;
    font-weight: 700;
}

.paybtn:hover{
    scale: 1.1;
    background-color: var(--subback-color);
    transition: all .3s ease-out;
}

.itemAdder{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid var(--subback-color);
    color: var(--text-color);
}

.itemAdder:hover{
    background-color: var(--subback-color);
    transition: .3s ease-out;
}