@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Audiowide&family=Black+Ops+One&family=Bree+Serif&family=Odibee+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yatra+One&family=Zen+Dots&display=swap');

html{
    scroll-behavior: smooth;}

:root{
    --color1: Black;
    --text-color: rgb(255, 250, 251);
    --subback-color: rgb(21, 127, 146);
    --accent-color: rgb(82, 220, 238);

    --Title-font: "Audiowide", serif;
    --Title-shadow: 2px 2px var(--subback-color);
}

body{
    height: 100vh;
    background-color: black;
    overflow: hidden;

    display: grid;
    grid-template-columns: 50vw 50vw;

    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    text-wrap: nowrap;
    color: var(--text-color);

    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:var(--text-color);
}

/*===== Cart Header ===================================================*/

header{
    width: 100%;
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

#header01{
    display: flex;
    justify-content: space-between;
}

#header02{
    justify-content: end;
}

.logoSection{
    display: flex;
    align-items: center;
}

#logo{
    width: 280px;
    height: 80px;
    padding-right: 10px;
}

#paymentTitle{
    color: var(--accent-color);
    font-size: 40px;
}

/*--- Cart Navigation ---*/
#cartNav01{
    display: none;
}

.homenavi{
    font-size: 20px;
    border: 2px solid var(--subback-color);
    background-color: transparent;
    padding: 2px 5px;
    border-radius: 10px;
}

.homenavi:hover{
    background-color: var(--subback-color);
    transition: all .3s ease-out;
}

.backBtn{
    background-color: transparent;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid var(--subback-color);
    color: var(--text-color);
}

.backBtn:hover{
    background-color: var(--subback-color);
    transition: .3s ease-out;
}

/*===== Main Section =========================================================*/

main{
    height:100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
}

#main01{
    grid-column: 1/2;
    align-items: end;
}

#main02{
    grid-column: 2/3;
    background-color: rgb(14, 14, 14);
}

.formContainer{
    border-radius: 20px;
    width: 100%;
    height: calc(100vh - 100px);
    gap: 20px;
    padding-left:30px;
}

/*===== Details Section =============================================*/

#paymentForm{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    width: 90%;
    height:100%;
}

.spanTitle{
    color: var(--accent-color) !important;
    font-size: 30px;
    font-family: var(--Title-font);
}

#personalDetails ,#paypalPaymentDetails, #visaPaymentDetails{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.inputSections{
    outline: none;
    background-color: rgb(206, 206, 206);
    border: 2px solid transparent;
    border-radius: 10px;
    color: rgb(104, 104, 104);
    padding: 2px;
    height:35px;
    width: 18vw;
    max-width: 18vw;
}

textarea{
    height: 60px !important;
}

#visaRadio, #paypalRadio{
    scale: 2;
}

.inputSections:hover{
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

.inputSections:focus{
    background-color: transparent;
    cursor: text;
    color: white;
    border-color: var(--accent-color);
    padding: 2px;
}

#personalDetails p , #paypalPaymentDetails p, #visaPaymentDetails p{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#cardDetails{
    width: 100%;
    display: flex !important;
    justify-content: space-between;
}

#cardDetails p{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

#paypalPaymentDetails, #visaPaymentDetails{
    display: none;
}

/*===== Payment Option Section ===============================================*/

.paymentMethodSelection{
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
}

#paymentOptions{
    width: 80%;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}

#paymentOptions p label{
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    border: 2px solid var(--subback-color);
    border-radius: 10px;
    padding: 5px 10px;
}

#paymentOptions p label:hover{
    scale: 1.05;
    background-color: var(--subback-color) !important;
    transition: all .3s ease-out;

}

#paymentOptions p label svg{
    width: 25px;
    fill: aliceblue;
}

#paymentOptions p input{
    display: none;
}


/*===== Order Info Table =====================================================*/
.orderInfoContainer{
    padding: 0px 30px;
    width: 60%;
    height: calc(100vh - 100px);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: end;
}

.orderInfoTitle{
    float: left;
    font-family: var(--Title-font);
    color: var(--accent-color);
    text-align: left;
}

#orderInfoTable{
    width: 100%;
    height: fit-content;
}

#orderInfoTable tr td:nth-child(2){
    text-align: right;
}

#tax{
    border-bottom: 1px solid;
}

#payBtn{
    color: var(--text-color);
    background-color: transparent;
    width: 80%;
    height: 50px;
    border: 2px solid var(--subback-color);
    border-radius: 10px;
    font-weight: 700;

    font-size: 24px;
    text-align: center;
    isolation: isolate;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#payBtn span::before{
    content: ' ';
    position: absolute;
    width: 10px;
    aspect-ratio: 1;
    background-color: var(--subback-color);
    inset: 0;
    margin: auto;
    z-index: -1;
    opacity: 0;
    border-radius: 50%;
}

#payBtn:hover span::before{
    opacity: 1;
    transform: scale(70);
    transition: transform .45s ease-out;
}


/* ===== Media Queries ====================================================== */
@media (max-width:1200px) {
    body{
        grid-template-columns: auto;
        grid-template-rows: 350px auto;
        overflow-y: scroll;
    }

    #cartNav02{
        display: none;
    }

    #cartNav01{
        display: flex;
    }

    #main01{
        grid-column: 1/2;
        grid-row: 1/2;
        align-items: center;
    }

    #main02{
        grid-column: 1/2;
        grid-row: 2/3;
        align-items: center;
        height: 100%;
    }

    .formContainer{
        display: flex;
        width: 60vw;
        height: 100%;
        justify-content: center;
        padding-left: 0;
    }
    #paymentForm{
        width: 80%;
        align-items: center;
    }
    #personalDetails ,#paypalPaymentDetails, #visaPaymentDetails,#paymentOptions{
        width: 100%;
        align-items: center;
    }

    .inputSections{
        max-width: 25vw;
        width: 25vw;
    }
}

@media (max-width:880px) {
    .formContainer{
        width: 100vw;
    }
    #paymentForm{
        width: 90%;
        height: auto;
    }
    #personalDetails ,#paypalPaymentDetails, #visaPaymentDetails,#paymentOptions{
        width: 100%;
        align-items: center;
        height: fit-content;
    }
    #paymentOptions{
        justify-content: space-between;
    }

    .inputSections{
        max-width: 30vw;
        min-width: 250px;
        width: 30vw;
    }

    #exDate, #code{
        min-width: 50px;
        max-width: 100px;
    }
}

@media (max-width:550px) {
    .logoSection{
        display: flex;
        flex-direction: column;
    }

    #paymentTitle{
        display: none;
    }

    #logo{
        width: 150px;
        height: 50px;
    }

    #paymentForm{
        width: 90%;
        font-size: 14px;
    }

    #paymentOptions p label{
        font-size: 16px;
        height: 40px;
        width: 170px;
    }
    #cardDetails{
        flex-direction: column;
        gap: 10px;
    }

    #cardDetails p{
        justify-content: space-between;
    }

    .backBtn{
        font-size: 14px;
        padding: 2px 5px;
    }

    .homenavi{
        font-size: 14px;
        padding: 2px 5px;
    }

    .cartnav{
        display: flex;
        gap: 50px;
    }
}