@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Audiowide&family=Black+Ops+One&family=Bree+Serif&family=Odibee+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yatra+One&family=Zen+Dots&display=swap');

html{
    scroll-behavior: smooth;}

:root{
    --color1: Black;
    --text-color: rgb(255, 250, 251);
    --subback-color: rgb(21, 127, 146);
    --accent-color: rgb(82, 220, 238);

    --Title-font: "Audiowide", serif;
    --Title-shadow: 2px 2px var(--subback-color);
}

body{
    background-color: black;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    text-wrap: nowrap;
    color: var(--text-color);

    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:var(--text-color);
}

/*===== Cart Header ===================================================*/

header{
    width: 100vw;
    height: 100px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoSection{
    display: flex;
    align-items: center;
}

#logo{
    width: 280px;
    height: 80px;
    padding-right: 10px;
}

#cartTitle{
    color: var(--accent-color);
    font-size: 40px;
}

/*--- Cart Navigation ---*/
.homenavi{
    font-size: 20px;
    border: 2px solid var(--subback-color);
    background-color: transparent;
    padding: 2px 5px;
    border-radius: 10px;
}

.homenavi:hover{
    background-color: var(--subback-color);
    transition: all .3s ease-out;
}

.backBtn{
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid var(--subback-color);
    color: var(--text-color);
}

.backBtn:hover{
    background-color: var(--subback-color);
    transition: .3s ease-out;
}

/*===== Main Section =========================================================*/

main{
    width: 70vw;
    height: calc(100vh - 115px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.formContainer{
    background-color: rgb(14, 14, 14);
    border-radius: 20px;
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/*===== Details Section =============================================*/

.personalDetailsSection, .paymentDetailsSection{
    width: 40vw;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.paymentContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#spanTitle{
    color: var(--accent-color) !important;
    font-size: 30px;
    font-family: var(--Title-font);
}

#personalDetails ,#paypalPaymentDetails, #visaPaymentDetails{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#visaPaymentDetails{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

#exDate, #code{
    width: 100px;
}

.inputSections{
    outline: none;
    background-color: rgb(206, 206, 206);
    border: 2px solid transparent;
    border-radius: 10px;
    color: rgb(104, 104, 104);
    padding: 2px;
    width: 18vw;
    max-width: 18vw;
}

#visaRadio, #paypalRadio{
    scale: 2;
}

.inputSections:hover{
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

.inputSections:focus{
    background-color: transparent;
    cursor: text;
    color: white;
    border-color: var(--accent-color);
    padding: 2px;
}

#personalDetails p , #paypalPaymentDetails p, #visaPaymentDetails p{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#cardDetails{
    width: 80%;
    display: flex !important;
    justify-content: space-between;
    gap: 20px;
}

#cardDetails p{
    display: flex;
    justify-content: space-between;
}

#paypalPaymentDetails{
    display: none;
}

/*===== Payment Option Section ===============================================*/

.paymentMethodSelection{
    border-radius: 20px;
    width: 40vw;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#paymentOptions{
    width: 80%;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}

#paymentOptions p{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}

/*===== Order Info Table =====================================================*/
.orderInfoContainer{
    width: 30vw;
    height: 100%;
    background-color: rgb(14, 14, 14);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.orderInfoTitle{
    font-family: var(--Title-font);
    color: var(--accent-color);
    text-align: center;
}

#orderInfoTable{
    width: 80%;
}

#orderInfoTable tr td:nth-child(2){
    text-align: right;
}

#tax{
    border-bottom: 1px solid;
}

#payBtn{
    color: var(--text-color);
    background-color: transparent;
    width: 20vw;
    height: 50px;
    border: 2px solid var(--subback-color);
    border-radius: 10px;
    font-weight: 700;

    font-size: 24px;
    text-align: center;
    isolation: isolate;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#payBtn span::before{
    content: ' ';
    position: absolute;
    width: 10px;
    aspect-ratio: 1;
    background-color: var(--subback-color);
    inset: 0;
    margin: auto;
    z-index: -1;
    opacity: 0;
    border-radius: 50%;
}

#payBtn:hover span::before{
    opacity: 1;
    transform: scale(70);
    transition: transform .45s ease-out;
}
